body {
    width: 100%;
}

.header {
    background: #F5F5DC;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.news-container {
    background: #F0FFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // flex-wrap: wrap;

    div {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 60%;
            width: 100%;
        }

        p {
            margin-top: 1px;
        }

        button {
            margin-bottom: 60px;
        }

    }

}

.carrousel-container {

    display: flex;
    flex-direction: column;
    align-items: center;

    div {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
            width: 20%;
        }
    }

}

.dolar-container {

    width: 100%;

    background: #5F9EA0;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        div {
            border: 1px solid #000000;
            height: 80px;
            width: 25%;
        }
    }
}

.publish-coments-container {
    display: flex;
    flex-direction: row;
    height: 340px;
    width: 100%;


    .most-read-container {

        display: flex;
        justify-content: center;
        width: 60%;


        .coments-card {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #F0FFFF;
            width: 100%;

            div {

                width: 100%;
                height: 33.3%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                border: 1px solid #000000;

                h3 {
                    width: 10%;
                    border: 1px solid black;
                }

            }
        }


    }
}