.news-container {

  display: flex;
  flex-direction: row;
  width: 100%;

  div {
    width: 50%;
  }
}

.secondary-new {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  article {
    width: 45%;
  }
}