$mainSectionBackground: rgb(206, 200, 200);

.main-section {
  background: $mainSectionBackground;
  padding: 20px;
  border-radius: 2%;
  grid-column: span 4;
}


@media (min-width: 1281px) {
  .main-section {
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
  }

}