
$background: rgb(247, 235, 235);
$headerBackground: rgb(245, 232, 230);
$navBarBackground: rgb(238, 226, 224);


$titleFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$primaryColorFont: rgb(36, 18, 15);

$enlaceHoverColorFont: rgb(199, 167, 160);
