
$background: rgb(229, 226, 226);
$headerBackground: rgb(222, 220, 222);
$navBarBackground: rgb(224, 222, 224);
$articuloBackground: rgb(222, 227, 222);


$titleFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$primaryColorFont: rgb(36, 18, 15);

$enlaceHoverColorFont: rgb(199, 167, 160);
