.article {
  display: grid;
  grid-template-rows: auto auto;

  row-gap: 5px;
  padding: 5px;
  background-color: rgb(165, 163, 163);
  border-radius: 3px;


  &__img {
    width: 100%
  }

  &__content {
    text-align: center;
  }
}