@import '../../variables/style.scss';

.new {
    background: $articuloBackground;
    border: 3px solid $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 5%;

    img {
        height: 60%;
        width: 100%;
    }
}