.galery-container {

  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  background: rgb(219, 211, 219);
  grid-column: span 4;
  display: grid;
  width: 82%;

  &__img {
    width: 100%;

  }
}

@media (min-width: 1281px) {
  .galery-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-height: fit-content;
    width: 97%;
    margin-right: 0;
    margin-left: 0;
  }
}