$galeryBackground: rgb(179, 178, 178);

.galery-container {
  background: $galeryBackground;
  padding: 20px;

  grid-column: span 4;
  display: grid;

  &__img {
    width: 100%;

  }
}

@media (min-width: 1281px) {
  .galery-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-height: fit-content;


  }
}