$asideBackground: rgb(224, 222, 224);

.aside-container {
  background: $asideBackground;
  padding: 20px;
  border-radius: 2%;
  grid-column: span 4;

}

@media (min-width: 1281px) {
  .aside-container {
    grid-column: 4/5;

  }
}