$topicBackground: rgb(184, 164, 164);

.themes-container {
  background: $topicBackground;
  padding: 20px;
  border: 1px solid #000000;
  grid-column: span 4;
  display: flex;
  flex-direction: row;
}