.header-container__brand {
  display: flex;
  display: row;
  justify-content: center;
}

.header-container__title {
  margin-left: 80px;
}

.header-container__logo {
  width: 35px;
  height: 35px;

}