.nav-bar {
  display: flex;
  flex-direction: column;

  &__hamburguer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 7px;
    height: 20px;


  }
}

div {

  transition: 300ms ease all;

  &.active {
    display: none
  }


  .nav-bar-list {
    margin-top: 1px;
    position: absolute;
    margin-left: -5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    padding: 5px;
    background: rgb(194, 191, 191);
    height: auto;

    &__item {
      &.active {
        left: 0px;

      }

      display: block;
      padding: 0.8rem 1rem;

      &:hover,
      &:active {
        font-size: 20px;
        color: #000000;
      }



    }
  }

}





@media (min-width: 1280px) {

  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;




    .nav-bar__hamburguer {
      display: none;
    }
  }

  div {
    min-width: 100%;

    .nav-bar-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      height: 30px;
      margin-top: - 5px;
      // margin-left: -5px;

      padding: 5px;
      background: rgba(194, 191, 191, 0);


    }
  }
}