.nav-bar__list {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}


@media (min-width: 1281px) {

  .nav-bar {
    width: 100%;

  }

  .nav-bar__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}