.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background: #dbd3db;
  border-radius: 2%;
  height: auto;

  &__city {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__temp {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-bottom: 10px;
  }


}