$headerBackground: rgb(236, 236, 236);

.header-container {
  background: $headerBackground;
  padding: 5px;
  height: 95%;
  grid-column: 1/5;
  grid-row: auto;
  display: flex;
  flex-direction: row;
  align-content: center;


}

@media (min-width: 1280px) {

  .header-container {
    display: flex;
    flex-direction: column-reverse;
    height: 90%;
  }



}