.nav-list{
    display: flex;
    flex-direction: row;
    
    margin-top: 10px;
    li{
        background: rgb(194, 186, 186);
        margin: 10px;
        text-decoration: none;
        color: black;
        border-radius: 7%;
        padding: 10px;

    }
}