$footerBaground: rgb(224, 209, 209);

.footer-container {
  background: $footerBaground;
  // padding: 20px;
  width: 100%;
  grid-column: 1/5;
  height: 100%;
  display: block;

  &__copyright {
    width: 30%;
    margin-left: auto;
    margin-right: auto;

  }

}