@import './variables.scss';

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;


}

.grid-container {
	background: $background;
	font-family: $font;
	width: 90%;
	margin: 10px auto;

	display: grid;
	gap: 1px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}