@import '../../../variables/style.scss';

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

}

.logo {
    width: 60px;
    height: 60px;
}

.title {
    margin-left: 10px;
    font-family: $titleFont;
    font-size: 50px;


}